@{
    ViewBag.Title = "DatalabPostDeploy";
}

<h2>Testing DatalabPostDeploy</h2>
<form method="post" class="form-horizontal">
    @Html.Partial("../ConfTpl/DataLab");
    <input type="submit" class="btn btn-primary" value="Run Test" />
</form>