@{
    Layout = null;
}
<div class="alert">
    <h4 class='alert-heading'><%= Name %></h4>
    <a href="#" class="btn btn-large btn-primary" id="btnmanual">@ODPI.Resources.Views.Tpl.ManualItemResource.Download</a>
</div>