<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>
        How to Add a Certificate</h3>
</div>
<div class="modal-body">
    <ol>
        <li>Go to the <a href="http://windows.azure.com" target="_blank">Management Site</a>
            and sign in</li>
        <li>Click on <strong>Management Certificates</strong><br />
            <img src="/Content/img/help/add-certificate-1.png" />
        </li>
        <li>Click on Add Certificate<br />
            <img src="/Content/img/help/add-certificate-2.png" /></li>
        <li>In the Add New Management Certificate popup window select the subscription to add
            to add the generated certificate.</li>
        <li>Click the Browse button and select the generated certificate that was downloaded
            to your computer.<br />
            <img src="/Content/img/help/add-certificate-3.png" /></li>
        <li>Click Ok</li>
    </ol>
</div>
