<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
        How To Get Create Azure Storage</h3>
</div>
<div class="modal-body">
   @* <p>
        We recommend creating a temporary storage account for the Installer tool but you
        can use an existing one. If you are using an existing Table Storage account you
        can skip this step.</p>*@
    <ol>
        <li>
            <p>Go to <a href="http://windows.azure.com" target="_blank">http://windows.azure.com</a> and
                sign in</p>
        </li>
        <li>
            <p>Click on <b>Storage Accounts<br>
                </b>
                <img src="/Content/img/help/image011.png"></p>
        </li>
        <li>
            <p>Click on <b>New Storage Account<br>
                </b>
                <img src="/Content/img/help/image012.png"></p>
        </li>
        <li>
            <p>In the <b>Create a New Storage Account </b>dialog, select your <b>Subscription,
                </b>enter a unique name for the <b>URL</b>, choose the <b>Region or Affinity </b>
                group of choice</p>
        </li>
        <li>
            <p>Click <b>OK. </b>At this point the Table Storage account will take a few
                minutes to be created.</p>
        </li>
    </ol>
</div>
