<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
        How To Get Create SQL Azure Database</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                Go to <a href="http://windows.azure.com"  target="_blank">http://windows.azure.com</a> and sign in</p>
        </li>
        <li>
            <p>
                Click on <b>Database<br>
                </b>
                <img src="/Content/img/help/image018.png"></p>
        </li>
        <li>
            <p>
                Click on the <b>Subscriptions </b>folder</p>
        </li>
        <li>
            <p>
                Click the <b>Create a New Database </b>button<br>
                <img src="/Content/img/help/image019.jpg"></p>
        </li>
        <li>
            <p>
                In the <b>Create Database </b>dialog, select the subscription the create the database
                on, and then select the database server and click <b>Next</b>. Note, you can select
                an existing database server or create a new one<br>
                <img src="/Content/img/help/image020.jpg"></p>
        </li>
        <li>
            <p>
                Select the <b>Region</b> to create the database in and click <b>Next</b><br>
                <img src="/Content/img/help/image021.png"></p>
        </li>
        <li>
            <p>
                Create an administrator login and password and click <b>Next</b>. <b>NOTE: </b>write
                these down somewhere as you will need them for later.<br>
                <img src="/Content/img/help/image022.png"></p>
        </li>
        <li>
            <p>
                Check <b>Allow other Windows Azure services to access this server </b>and specify
                any other IP ranges to allow to access the SQL Server<br>
                <img src="/Content/img/help/image023.png"></p>
        </li>
        <li>
            <p>
                Enter a <b>database name </b>for your<b> </b>database and select the edition and
                maximum size. <b>NOTE: </b>make a note of the database name as you will need it
                for later</p>
        </li>
        <li>
            <p>
                Click <b>Finish</b>. At this point the database and server will be created in a
                few minutes.</p>
        </li>
    </ol>
</div>
