<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
        How To Get SQL Azure Database Host Name</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                Go to <a href="http://windows.azure.com" target="_blank">http://windows.azure.com</a> and sign in</p>
        </li>
        <li>
            <p>
                Click on <b>Database<br>
                </b>
                <img src="/Content/img/help/image018.png"></p>
        </li>
        <li>
            <p>
                Click on the <b>Subscriptions </b>folder</p>
        </li>
        <li>
            <p>
                Click on the <strong>Subscription</strong> your database resides in and expand the
                selection</b>
                <img src="/Content/img/help/image024.png">
            </p>
        </li>
        <li>
            <p>
                Select your server<p>
        </li>
        <li>
            <p>
                In the properties Window look for the <strong>Fully Qualified DNS Name</strong>
                <p>
        </li>
        <li>
            <p>
                Highlight this value, right click and then click copy.
                <p>
        </li>
        <li>
            <p>
                Paste this value back into the <strong>Database Hostname</strong> field
                <p>
        </li>
    </ol>
</div>
