<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
        How To Get Azure Table Storage Access Key</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                Go to <a href="http://windows.azure.com" target="_blank">http://windows.azure.com</a> and sign in</p>
        </li>
        <li>
            <p>
                Click on <b>Storage Accounts</br>
                </b>
                <img src="/Content/img/help/image011.png"></p>
        </li>
        <li>
            <p>
                Click on the newly created Table Storage account (or existing account if a new one
                is not created)</p>
        </li>
        <li>
            <p>
                In the Properties window find the <b>Primary Access Key </b>header near the top
                and click the <b>View </b>button<br>
                <img  src="/Content/img/help/image015.png"></p>
        </li>
        <li>
            <p>
                In the <b>View Storage Access Keys</b> popup window, click the copy icon. (Note
                you may get a popup asking permission to copy to clipboard, click yes)</br>
                <img src="/Content/img/help/image016.jpg"></p>
        </li>
        <li>
            <p>
                Click <strong>Close</strong>.</p>
        </li>
        <li>
            <p>
                Paste this value back in the <b>Azure Config </b>page <b>Storage Account Name </b>
                field</br>
                <img src="/Content/img/help/image013.png"></p>
        </li>
    </ol>
</div>
