@{
    Layout = null;
}
<div id="app-<%= Id %>" class="alert">
    <h3><%= Name %></h3>
    <p><%= Description %></p>
    <div class="alert-actions">
        <a class="btn small enable" data-key="<%= Id %>">Enable</a> <a class="btn small disable" data-key="<%= Id %>" disabled>Disable</a>
    </div>
</div>
