@{
    Layout = null;
}
<div class="row">
    <div class="span3">
        <h4>
            Progress:</h4>
        <ol>
            <li><del>Select components to install</del></li>
            <li><del>Configure Components</del></li>
            <li><del>Finalize install procedure</del></li>
            <li><strong>Install</strong></li>
        </ol>
    </div>
    <div class="span9">
        <h2>
            Deploy</h2>
            <div id="deploy-items"></div>
        <!--
    <div class="alert-message block-message" data-deploy-id="1">
        <div class="spinner">
            <img alt="Loading..." src="/Content/130.gif" />
        </div>
        <p>
            <strong>Drupal</strong></p>
        <div class="selection-div">
            <p>
                Which Service would you like to deploy to:
            </p>
            <ul class="inputs-list">
                <li>
                    <label>
                        <input type="radio" name="selectedService" id="selectedService" value="odinstaller" />
                        <span>odinstaller</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="selectedService" id="selectedService" value="odt" />
                        <span>odt</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="selectedService" id="selectedService" value="odt2" />
                        <span>odt2</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="selectedService" id="selectedService" value="OpenTurf" />
                        <span>OpenTurf</span>
                    </label>
                </li>
            </ul>
            <div class="alert-actions">
                <a class="btn small right deploy-button" href="#" data-app="1">Deploy</a>
            </div>
        </div>
        <div class="message-div">
            <div class="message">
            </div>
        </div>
        -->
    </div>
</div>
