<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ODPI.Resources.Views.Shared._LayoutResource.OpenDataPlatformInstaller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <!-- Place this tag in your head or just before your close body tag -->
    <![endif]-->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/#/">@ODPI.Resources.Views.Shared._LayoutResource.OpenDataPlatformInstaller</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12 hide" id="error-holder">
                
            </div>
        </div>
        @RenderBody()
    </div>
    <!-- /container -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script src="/js/libs/json2.js"></script>
    <script src="/js/libs/underscore-min.js"></script>
    <script src="/js/libs/backbone-min.js"></script>
    <script src="/js/libs/bootstrap-collapse.js"></script>
    <script src="/js/libs/bootstrap-modal.js"></script>
    <script src="/js/libs/bootstrap-tooltip.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/models/odpiapp.js"></script>
    <script src="/js/models/azureconfig.js"></script>
    <script src="/js/models/config.js"></script>
    <script src="/js/views/config.js"></script>
    <script src="/js/views/tasklist.js"></script>
    <script src="/js/views/availapp.js"></script>
    <script src="/js/views/azureconfig.js"></script>
    <script src="/js/views/configitem.js"></script>
    <script src="/js/views/manualitem.js"></script>
    <script src="/js/views/deploy.js"></script>
    <script src="/js/views/deployitem.js"></script>
    <script src="/js/views/error.js"></script>
    <script src="/js/main.js"></script>
   
</body>
</html>
