@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ODPI.Resources.Views.Shared.ErrorResource.Error</title>
</head>
<body>
    <h2>
        @ODPI.Resources.Views.Shared.ErrorResource.SorryAnErrorOccurred
    </h2>
</body>
</html>